<launch>

<node name="outlier_removal" pkg="outlier_removal" type="outlier_removal" output="screen"/>

<!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find LKOpticalFlow)/rviz/LK_v2.rviz" output="screen"/>-->

<node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="0 0 0 0 0 0 1 map camera_link 10" />

</launch>
